header{width: 100%;height: 60px; background-color: #272829; font-family:"Roboto",sans-serif;}
header b{color:#fff; margin-left: 30px; font-size: 18px; margin-top: 2px;}
header #titulo{ font-size: 24px;color: #fff;margin-left: 20px;margin-top: 15px;}
header #subtitulo{ font-size: 14px;color: #fff;margin-left: 29px; margin-top: -10px;}
section{margin-top: -898px;  margin-left: 248px; background: #EEEEEE;}
#tab{ width: 60%;}
#op-usuario-noti{margin-left: 70%; margin-top: -29px;}
nav{ width: 100%;height: 1.5px; background: #0E92BE;float:left;}
aside{ width: 18%; height: 960px; background:#262626; float: left; color: #fff; float:left;}
aside label{margin-left: 35px;}
#blue{width:18.3%; height:900px; background:#0E92BE; }
aside img{ width: 80%; margin: auto;}
section #directorio{font-size: 16px; background:#CACCCC; width: 100%; height: 65px;}
#directorio label{ margin-left: 20px; }
#directorio a{text-decoration: none; color: #000;}
#dirctorio label:hover{color: #088A17;}
#menu-notificaciones{ float: right; margin-right: 80px; color: #fff; }
#menu-notificaciones a{text-decoration: none; color: #EEE;}
#titulo{float: left;}
#menu-notificaciones .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

