body{background-color: #333;}
header{width: 100%;height: 60px; font-family: "Roboto",sans-serif; background-color: #272829;}
header{background-color: #272829;}
header b{color:#fff; margin-left: 30px; font-size: 18px; margin-top: 2px;}
header #titulo{ font-size: 24px;color: #fff;margin-left: 5px;margin-top: 10px;}
header #subtitulo{ font-size: 14px;color: #fff;margin-left: 29px; margin-top: -10px;}
.jumbotron section {margin: auto; width: 35%;height: 330px; background:#262626; margin-top: 70px; border-radius: 10px;}
section form{width: 80%; margin: auto; padding: 30px;margin-top: 40px; color:#fff;}
section input[type=text],input[type=password]{ border: none; height: 40px;}
footer{background: #333;}


